<!DOCTYPE html>
<html>
<head>
  <title>FieldTrip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% @page_title = "UserAuth | Signup" %>
<div class="Sign_Form">
  <h1>Sign Up</h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <p> Username: </br> <%=f.text_field :username %> </p>
    <p> Email: </br> <%= f.text_field :email%> </p>
    <p> Password: </br> <%=f.password_field :password%></p>
    <p> Password Confirmation: </br> <%= f.password_field :password_confirmatin%></p>
    <%= f.submit :Signup %>
  <% end %>
  <% if @user.errors.any? %>
  <ul class="Signup_Errors">
  <% for message_error in @user.errors.full_messages %>
    <li>* <%= message_error %></li>
  <% end %>

  </ul>
  <% end %>
</div>

</body>
</html>
